 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A 16 year old boy, passionate about learning new things to do. An experienced Web developer and a beginner in Android & iOS App Development. I'm proficient in speaking the language of the browser and Git, fairly fluent in Java and interested in learning Python</p>
                </div>
                <div class="col-lg-4">
                    <p>Also an IRIS Finalist, ARSSDC Participant and an (over-)enthusiastic participant in Google Code-In 2016 and 2017. I've contributed for the scorelab open-source organization and in my two years of GCI, I've done over 43+ tasks <br>[Breakdown: 30+ in 2017 and 13 in 2016]</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://gitter.im/padamchopra" target="blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-comments"></i> Ping me on Gitter
                    </a>
                </div>
            </div>
        </div>
    </section>
